@media (min-width: 768px) {
	.section {
		padding: 2em var(--tablet-padding);
	}
}

@media (min-width: 1080px) {
	.section {
		padding: 2em var(--desktop-padding);
	}

	.section__divider {
		width: 50%;
	}

	.button {
		width: fit-content;
	}
}
