* {
	margin: 0;
	padding: 0;
	font-family: "Cabin", sans-serif;
	box-sizing: border-box;
}

h1 {
	display: none;
}

body {
	background-color: var(--grey);
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

button:focus {
	outline: none;
}

.display--none {
	display: none;
}

.display--flex-h {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.display--flex-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.overflow--hidden {
	overflow: hidden;
}
