:root {
	/* ----- COLOR ----- */
	--black: #000000;
	--white: #ffffff;
	--grey: #f5f5f5;
	--copy: #7a7a7a;
	--pink: #ff6188;
	--green: #a9dc76;
	--yellow: #ffd866;
	--orange: #fc9867;
	--purple: #ab9df2;
	--blue: #78dce8;
	--secondary-color: #d93551;

	/* ----- PADDING ----- */
	--mobile-padding: 2em;
	--tablet-padding: 3em;
	--desktop-padding: 4em;
}
